@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
  color: #142d4c;
  scroll-behavior: smooth;
}
.menu {
  background-color: #e8e8e8c5;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.logo img {
  position: absolute;
  justify-content: center;
  left: 40px;
  width: 30px;
  height: 30px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  gap: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
}
.li:hover {
  color: #1660a5;
}

.home {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #e8e8e8c5;
}
.home img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem #1a3b6385);
  transition: 0.5s;
}
.texto {
  align-self: center;
  text-align: center;
}
.texto h1 {
  font-size: 50px;
  font-weight: 900;
}
.texto p {
  font-size: 15px;
  font-weight: 400;
}
.sobreMim {
  display: flex;
  margin-top: 20px;
  padding: 12px;
  justify-content: center;
  border-radius: 20px;
  background-color: #142d4c;
  color: white;
}
.home img {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 80px;
}
.sobreMim:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: drop-shadow(0 0 0.75rem #1a3b63);
  transition: 0.5s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8e8e8;
  height: 100px;
  text-align: center;
  gap: 20px;

  color: #1a3b6373;
}

footer img {
  width: 25px;
  height: 25px;
}

.sobre {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 80px;
  gap: 40px;

  background-color: #e8e8e8c5;
}
.sobre h2 {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 15px;
}
.conhece {
  display: flex;
  row-gap: 50px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-left: solid #1a3b63;
}

.conhece img {
  width: 100px;
  height: 100px;
}
.grid {
  display: grid;
  gap: 50px;
  padding: 50px;
  place-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 0.5fr);
  background-color: #e8e8e8c5;
}

.projetos {
  text-align: center;
  background-color: #e8e8e8c5;
}

.projetos img {
  width: 100%;
  height: 25%;
  overflow: hidden;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  filter: grayscale(100%);
}
.projetos img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
  cursor: pointer;
}
.historico {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  gap: 20px;
  background-color: #e8e8e8c5;
  padding-bottom: 100px;
  padding-top: 50px;
}
.historico li {
  padding: 35px;
  font-weight: 300;
}
span {
  font-weight: 700;
  text-align: center;
  padding-top: 150px;
}
.texto {
  border-right: solid 1px #1a3b63;
  padding-right: 15px;
  font-size: 15px;
}
