* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

table {
    width: 500px;
    height: 350px;
    margin: 50px auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.7;
}